<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>409357716949-lt1sv2uq1avlomrrrcnripe4l4989dbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409357716949-lt1sv2uq1avlomrrrcnripe4l4989dbb</string>
	<key>API_KEY</key>
	<string>AIzaSyB7WQCHyfKRqhkq7-sRnuwQQ8lIUF71Pao</string>
	<key>GCM_SENDER_ID</key>
	<string>409357716949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NHTSOFT.PushNotification-Firebase</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationfirebase-c54fe</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationfirebase-c54fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409357716949:ios:fe24c7a3811c0f3e</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotificationfirebase-c54fe.firebaseio.com</string>
</dict>
</plist>